* {
    margin: 0px;
    font-family:"Inter"
}

.menu_principal {
    
    background-image: url("./assets/icones/fundoHeader.png");
    max-width: 100%;
    height: 500px;    
}

#logo {
    width: 125px;
    height: 66px;
    margin-top: 52px;
    margin-left: 56px;
}

#tituloSuperior {
    color: #fff;
    margin-top: 45px;
    margin-left: 150px;
    /* margin-top: -220px */
}

#textoParagrafo{
    margin-top: 30px;
    margin-left:150px;
    color:#fff;
}

.menu-informacional{
    background-color:rgba(234, 236, 229, 1);
    max-width:100%;
    height:170px;
    display:grid;
    grid-auto-flow:column;
    columns:auto;       
}

#icone{
    margin: 50px -30px 50px 135px;
    padding: 10px;
}

h3{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 40px 40px 50px 10px
}

#secaoVideo{
    display:grid;
    grid-auto-flow:column;
    columns:auto;
}

#textoInformativo{
    display:flex;
    align-items:center;
    margin-left:50px;
}

#tituloVideo {
    color:rgba(36, 123, 160, 1);
    margin: 50px;
}

#video{
    margin: 50px 25px 50px 100px;
}
#carrossel{
    background: rgba(36, 123, 160, 1);
    padding: 50px;
}

#tituloCarrosel{
    color: rgba(234, 236, 229, 1);
    text-align: center;
    font-size: 28px;

}
#div-cards{
    display:grid;
    grid-auto-flow:column;
    padding: 30px;
    
}
.card{
    margin-right: 10px;
}
        /* diplay none esconde os itens que não queremos que aparecem */
#seta-esq{
    display:none;
}
#leonardo{
    display:none;
}

.seta{
    margin-top: 70px;
}

